@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.sidebar{
    float: left;
    height: 100vh;
    background-color: black;
    padding: 30px;
}

.sidebar ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
}

.sidebar ul li{
    margin: 20px;
}

.sidebar ul li a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* ========================sidebar========================= */

.smallsidebar{
    display: none;
}

.smallsidebar{
    float: left;
    height: 100vh;
    background-color: black;
    padding: 15px;
}

.smallsidebar ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
}

.smallsidebar ul li{
    margin: 20px;
}

.smallsidebar ul li a img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.smallsidebar ul li a i{
    font-size: 20px;
}

@media(max-width:1024px){
    .sidebar{
        margin-left:-300px ;
    }
    .smallsidebar{
        display: block;
    }
}
/* ==================topbar============= */

#topbar{
    background-color: black;
    color: yellow;
    padding: 20px;
    text-align: center;
}

#analytics{
    margin-left:200px ;
    display: flex;
}
#analytics div{
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 30px;
}